# Configuration file

~CONFIG_VERSION: rv6-stable-7

counters {
    I:lastGridStorage=2
    I:lastPlayer=1
}


gridstorage {
}


orderedvalues {
    I:presses=29
}


players {
    I:73cc0d35-7b48-41de-98e8-e6c4eda9c4b9=0
}


